<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中华诗词文化</title>
</head>
<body>
    <h1>欢迎来到中华诗词文化的世界</h1>
    <p>当前访问 URL: {{ url }}</p>
    <p>当前页面url后追加/culture/Songci/查询关键词 即可</p>
    <p>内容关键字查询示例：</p>
    <p>举例查询包含 "飞花" 的宋词： {{ url }}culture/SongCi/飞花 </p>
    <p>举例查询包含 "飞花" 和 "风" 的宋词： {{ url }}culture/SongCi/飞花%风 </p>
    <p>举例查询包含 "飞花" 和 "风" 的唐诗： {{ url }}culture/QuanTangShi/飞花%风 </p>
</body>
</html>
